@inherits LayoutComponentBase

<body class="@(IsShowSideBar ? "body-pd" : "")" id="body-pd d">
    <NavBar IsShowSideBar="IsShowSideBar"/>
    <SideBar IsShowSideBar="IsShowSideBar" />
    <div class="height-100 w-100">
        @Body
    </div>
</body>
@code{
    public bool IsShowSideBar { get; set; } = false;
}
