@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="5"
                IconType="Blazored.Toast.IconType.FontAwesome"
                ErrorIcon="fa fa-times"
                InfoIcon="fa fa-info"
                SuccessIcon="fa fa-check"
                WarningIcon="fa fa-exclamation" />
<div>
    @Body
</div>
